:root{
    --index : rgb(247, 183, 64);
}

body {
    background-color: #EEEEEE;
}

/* .container{
    width: 80%;
    margin: 10px auto;
} */

.container .text-center{
    margin-top: 60px;
}

.rows{
    width: 75%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393E46;
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;

}

form{
    width: 55%;
    margin: 10px auto;
    padding: 100px 40px; 
}

form .info label,
form .go span{
    color: white;
}

form .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 22px;
}
form .info input{
    margin-top: 8px;
    padding: 7px 13px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    outline: none;
}

form .go{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

form .go input{
    padding: 7px 30px;
    background-color: var(--index);
    color: white;
    border: none;
    outline: none;
    border-radius: 23px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
}

form .go a{
    color: var(--index);
    text-decoration: none;
}


    @media only screen and (max-width: 500px) {
            form{
                width: 100% !important;
            }
    }

@media only screen and (max-width: 767px) {

    .rows{
        width: 100%;
    }

        form{
            width: 100%;
        }

}
@media only screen and (max-width: 990px) {

    form .go{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    form .go input{
        width: 100%;
        margin-bottom: 9px;
    }

}
@media only screen and (max-width: 1200px) {

    form{
        width: 70%;
    }

}