:root{
    --index : rgb(247, 183, 64); 
}


body{
    width: 100%;
    height: 100vh;
    position: relative;
}

 /* ============================== registre alert ======================================*/

    .registre-errors{
        width: 80%;
        padding: 10px 15px;
        background-color: rgb(243, 84, 84);
        color: white;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

#registreB:not(:disabled), [type=reset]:not(:disabled), #registreB:not(:disabled), button:not(:disabled) {
    cursor: pointer !important;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -6px;
    right: 2px;
    font-weight: bold;
    font-size: 24px;
}

 /* ============================== registre alert ======================================*/


body::before{
    content: '';
    width: 50%;
    height: 100%;
    /* background-color: #EEEEEE; */
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
body::after{
    content: '';
    width: 50%;
    height: 100%;
    background-color: var(--index);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.container{
    width: 100%;
}

.cont{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rows{
    background-color: #393E46;
    padding: 25px 50px;
    width: 74%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}

.container .title{
    position: absolute;
    left: 0;
    top: -60px;

}

form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
form .user-details .details{
    display: inline-block;
    font-weight: 500;
    margin-bottom: 9px;
    color: white;
}

form .user-details .input-box input{
    height: 40px;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    outline: none;
    border: none;
    padding-left: 13px;
    padding-right: 13px;
}

form .user-details .input-box select {
    height: 40px;
    padding: 0 13px !important;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    outline: none;
    border: none;
    }


    form .user-details .input-box select option{
        color: white;
        border-radius: 20px !important;
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        -ms-border-radius: 20px !important;
        -o-border-radius: 20px !important;
        background-color: var(--index);
}

form .user-details .input-box select option:hover{
    background-color: white;
    color: var(--index);
}

    

    .regex-pass p{
        color: white;
        margin-bottom: 0px;
    }
    .regex-pass p:last-of-type{
        margin-bottom: 13px;
    }



    form .buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

form .buttons span{
    color: white;
}

form .buttons span a{
    text-decoration: none;
    color: var(--index);
    font-weight: 600;
}
    form .buttons #subform{
        border-radius: 20px !important;
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        -ms-border-radius: 20px !important;
        -o-border-radius: 20px !important;
        outline: none !important;
        border: none !important;
        padding: 6px 30px !important;
        background-color: var(--index) !important;
        color: white !important;
        font-weight:600 !important;
}
    
    /* @media only screen and (max-width: 600px){ */
    @media only screen and (max-width: 765px){
 
            .container {
                width: 100%;
            }

            .rows{
                width: 100% !important;
            }

            form .user-details .input-box{
                margin-bottom: 15px;
                width: 100%;
            }

            form .user-details{
                max-height: 300px;
                overflow-y: scroll;
            }

            .user-details::-webkit-scrollbar{
                    width: 0;
            }

            form .buttons{
                display: flex;
                flex-direction: column-reverse;
            }
            form .buttons #subform{
                width: 100%;
                margin-bottom: 9px;
            }

    }

    @media only screen and (max-width: 767px){
        .rows{
            width: 100% !important;
        }
    }
    @media only screen and (max-width: 991px){
        .rows{
            width: 90% !important;
        }
    }