:root{
    --index : rgb(247, 183, 64);
}


/* body{
    background-color: white !important;
} */


.shoping header{
    /* background-color: black; */
    align-items: center !important;   
}


#title span{
    font-weight: 700;
    color: var(--index);
}



.table-product{
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    background-color: white;
    padding: 20px !important;
}

.table-product h5{
    font-weight: bold;
}

.table-product i{
    font-size: 23px;
    color: black;
}
.table-product i:hover{
    color: rgb(248, 66, 66) ;
}

.table-product th{
    padding: 25px;
    border-bottom: 1px solid #ddd;
}

.table-product td{
    border-bottom: 1px solid #ddd;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 25px;
    padding-right: 40px;
}


.table-product td:last-child{
    text-align: center;
}


.table-product .image-box img{
    width: 120px;
    margin-right: 20px;
}

.table-product #flex-table{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

@media screen and (max-width: 465px){
    .table-product .image-box img{
        width:85px !important;
        margin-right: 13px !important;
    }

    .table-product .content h4{
        font-size: 13px !important;
    }
    .table-product .content p{
        font-size: 10px !important;
    }
}

@media screen and (max-width: 536px){
    .table-product td{
        border-bottom: 1px solid #ddd;
        padding-top: 26px;
        padding-bottom: 26px;
        padding-left: 25px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 767px){
    .table-product .image-box img{
        width: 100px;
        margin-right: 16px;
    }

    .table-product .content h4{
        font-size: 16px;
    }
}


/* ============================  total section ==================================== */


.total{
    margin-top: 22px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 19px;
    background-color: white;
    align-items: center;
    border: 1px solid #ddd;
}

.total h5 span{
    color: var(--index);
    margin-left: 20px;
}
 
/* .total a{
    padding: 6px 30px;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: var(--index);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

@media screen and (max-width: 500px){
    .total a{
        padding: 4px 26px;
    }
} */
    



/* CSS */
.button-87 {
    /*margin: 10px;
    */padding: 8px 28px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 20px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  
  .button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  .button-87:active {
    transform: scale(0.90);
    -webkit-transform: scale(0.90);
    -moz-transform: scale(0.90);
    -ms-transform: scale(0.90);
    -o-transform: scale(0.90);
}
  

  @media screen and (max-width: 500px){
    .button-87{
        font-weight: 500;
        padding: 5px 26px;
    }
} 